.custom-checks {
	width: 100%;
	padding-left: 5px;
}

.custom-checks label {
 	font-size: 1em;
 	padding-left: 5px;	
}

.custom-checks input[type=checkbox] {
	cursor: pointer;
	visibility: hidden;
}

.box, .custom-checks label {
	position: relative;
	float: left;
}

.custom-checks .box {
	width: 1em;
	height: 1em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-top: 3px;
	background-color: #858585;
	cursor: pointer;
}

.custom-checks .box::after {
	opacity: 0.2;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 6px;
	background: transparent;
	border: 2px solid white;
	border-top: none;
	border-right: none;
	z-index: 20;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.custom-checks input[type=checkbox]:checked + .box::after {
	opacity: 1;
}

.box::after {
	cursor:pointer;
	opacity: 1;
}