/* Form Styles */
#formInfo {
  margin-bottom: 2em;
}

.section-title{
  font-weight: 700;
}

.required .section-title:after {
  content: " *";
  color: red;
}

.required {
  margin-bottom: 2em;
}

.checkbox, .radio{
  padding-left: 2em;
}
.checkbox label, .radio label {
  padding: 0;
}

.validator-msg {
  float: right;
}

.help-block {
  font-weight: 300;
}

/* Log In Page  */
#login {
  width: 25em;
  height: 15em;
  margin-top: 10em;
}

#login {
  text-align: center;
  margin-bottom: 1em;
  color: #7b7b7b;
}

#login .form-group {
  float: right;
  color: #adadad;
}

.btn {
  background-color: black;
  opacity: 0.7;
  color: #fff;
  position: relative;
  float: right;
  margin-left: 1em;
}

div.alert-log-in {
  position:absolute !important;
  top:50px !important;
  text-align:center;
  width:100%;
}