#map {
	height: 45em;
	position: inherit;
	width: 100%;
}

#search, div.select-options select {
	width: 95%;
}

#search {
	border: 1px solid #808080;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #d3d3d3;
	opacity: 0.75;
	text-align: center;
	font-weight: 300; 
}

div.select-options select{
	margin: 2px;
	border: 1px solid gray;
}

#resetFilters {
	background:none; 
	border:none; 
	color:gray; 
	opacity:0.7; 
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.section-title {
	font-weight: 700; 
}