#map {
	height: 100%;
	position: inherit;
	width: 100%;
}

.filter_group {
	margin-top: 5px;
	margin-left: 0.5em;
	margin-top: 2em;
	border-bottom: 1px dashed grey;
}

.filter_container {
	margin-bottom: 1em;
}

.section-title {
	font-weight: 700; 
}

#search, #resetFilters {
	width: 95%;
}

#search {
	border: 1px solid #808080;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #d3d3d3;
	opacity: 0.75;
	text-align: center;
	font-weight: 300; 
}

#resetFilters {
	background: none; 
	border: 0; 
	color: #808080; 
	opacity: 0.7; 
	padding-bottom: 1em;
	text-align: left;
}

#portfolio_checkboxes {
	border-bottom: 1px dashed grey;
	padding-bottom: 1em;
	padding-left: 1em;
}

#portfolio_checkboxes .radio {
	padding-left: 2em;
}

#portfolio_checkboxes .radio label {
	padding-left:0;	
}

#date {
	z-index: 50;
	background-color: #1cabe2;
	color: white;
	opacity: 0.7;
	position: absolute;
	top: 15%;
	right: 0;
	margin-right: 1em;
	padding: 5px 5px;	
}