body, html, #main_div {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Change Bootstrap style */
.navbar-default {
    background-color: #1cabe2;
    border-color: #1cabe2;
}

.navbar-default .navbar-brand {
   color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

ul.nav {
  float:right;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #888;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #1cabe2;
}

.center-block {
  float: none;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

#main_div, #main_div .row {
  height: 100%;
}

#aboutInfo, #table-wrap, form {
  padding: 1em 2em;
  box-shadow: 0px 1px 1px 1px #888888;
  padding-bottom: 3em;
  height: 100%;
}

#user a {
  pointer-events: none;
  cursor: default;
  color: grey;
}