body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Change Bootstrap style */
.navbar-default {
    background-color: #1cabe2;
    border-color: #1cabe2;
}

.navbar-default .navbar-brand {
   color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

ul.nav {
  float:right;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #888;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #1cabe2;
}

.center-block {
  float: none;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

#main_div, #main_div .row /*, .center-block*/ {
  height: 100%;
}

#aboutInfo, #table-wrap, form {
  padding: 1em 2em;
  box-shadow: 0px 1px 1px 1px #888888;
  padding-bottom: 3em;
  height: 100%;
}

/* Form Styles */
#formInfo {
  margin-bottom: 2em;
}

.section-title{
  font-weight: bold;
}

.required .section-title:after {
  content: " *";
  color: red;
}

.required {
  margin-bottom: 2em;
}

.checkbox, .radio{
  padding-left: 2em;
}
.checkbox label, .radio label {
  padding: 0;
}

.validator-msg {
  float: right;
}

.help-block {
  font-weight: 300;
}

/* Log In Page  */
#login {
  width: 23em;
  height: 15em;
  margin-top: 10em;
}

#login h4 {
  text-align: center;
  margin-bottom: 1em;
  color: #7b7b7b;
}

#login .form-group {
  float: right;
  color: #adadad;
}

.btn {
  background-color: black;
  opacity: 0.7;
  color: #fff;
  position: relative;
  float: right;
  margin-left: 1em;
}