#side_menu{
	z-index: 20;
	height: 100%;
	width: 19em;
	position: absolute;
}

#side_filters, #menu_tab{
  background-color: white;
  opacity: 0.9;
}

#side_filters{
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 1em;
	font-size: 1em;
	overflow: auto; 
	padding-top: 25px;
	color:gray;
	box-shadow: 0px 2px 1px 1px #888888;
}

#menu_tab{
	position:absolute;
	width: 2em; 
	height: 3em;
	text-align: center;
	cursor: pointer;
	padding-top: 12px;
	padding-left: 10px;
}

#arrow {
	position:absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid black;
	opacity:0.7;
}

#menu_tab .tab-in {
	border-left: none !important;
	border-right: 10px solid black;
}